<div style="margin-bottom: 0.5em;">

    <button type="button" class="btn btn-outline-primary btn-icon" style="display: inline-block;"
        (click)="backClicked()">
        <i class="nb-layout-right nb-arrow-thin-left"></i>
    </button>

    <span style="margin-left: 1em; color: black; font-size: 1.5em;">Contract Purchase</span>

    <!-- <button type="button" class="btn btn-success btn-icon" style="margin-left: 0.5em; float: right;" (click)="newContractClicked()">
        <i class="nb-layout-right nb-compose"></i>
    </button> -->

</div>

<nb-card>
  <!-- <nb-card-header style="font-size: 1.75rem;">Create a New Contract</nb-card-header> -->
  <nb-card-body>
    <form>

      <nb-card>
        <nb-card-header>Location</nb-card-header>
        <nb-card-body>

          <div class="form-group" style="margin-bottom: 1em;">
            <input type="text" class="form-control" id="directoryInput" placeholder="Directory">
          </div>

        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Basic Authentication</nb-card-header>
        <nb-card-body>

          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="Username">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Confirm Password">
          </div>

        </nb-card-body>
      </nb-card>

      <button style="float: right;" type="submit" class="btn btn-success">Purchase</button>

    </form>
  </nb-card-body>
</nb-card>