<div style="margin-bottom: 0.5em;">

    <button type="button" class="btn btn-outline-primary btn-icon" style="display: inline-block;"
        (click)="backClicked()">
        <i class="nb-layout-right nb-arrow-thin-left"></i>
    </button>

    <span style="margin-left: 1em; color: black; font-size: 1.5em;">Contract Purchase</span>

    <!-- <button type="button" class="btn btn-success btn-icon" style="margin-left: 0.5em; float: right;" (click)="newContractClicked()">
        <i class="nb-layout-right nb-compose"></i>
    </button> -->

</div>

<nb-card>
  <!-- <nb-card-header style="font-size: 1.75rem;">Create a New Contract</nb-card-header> -->
  <nb-card-body>
    <form>

      <div class="form-group">
        <input type="text" class="form-control" id="titleInput" placeholder="Title">
      </div>

      <div class="form-group" style="margin-bottom: 2em;">
        <input type="text" class="form-control" id="descriptionInput" placeholder="Description">
      </div>

      <h6 for="exampleInputPassword1">Data Type</h6>
      <div class="row" style="margin-bottom: 2em;">
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataTypeRadios" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Raw</span>
          </label>
        </div>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataTypeRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Processed</span>
          </label>
        </div>
      </div>

      <h6 for="exampleInputPassword1">Pick a Data Format</h6>
      <div class="row" style="margin-bottom: 2em;">
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataFormatRadios" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">JSON</span>
          </label>
        </div>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataFormatRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">XML</span>
          </label>
        </div>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataFormatRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">CSV</span>
          </label>
        </div>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataFormatRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Plain Text</span>
          </label>
        </div>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" name="dataFormatRadios">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">XLSX</span>
          </label>
        </div>
      </div>

      <div class="row">

        <div class="col-md-12 col-lg-6 col-xxxl-6">
          <nb-card>
            <nb-card-header>Start Date</nb-card-header>
            <nb-card-body>
              <input nbInput placeholder="Start Date" [nbDatepicker]="startDatePicker" style="width: 100%;">
              <nb-datepicker #startDatePicker></nb-datepicker>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-12 col-lg-6 col-xxxl-6">
          <nb-card>
            <nb-card-header>End Date</nb-card-header>
            <nb-card-body>
              <input nbInput placeholder="End Date" [nbDatepicker]="endDatePicker" style="width: 100%;">
              <nb-datepicker #endDatePicker></nb-datepicker>
            </nb-card-body>
          </nb-card>
        </div>

      </div>

      <nb-card>
        <nb-card-header>Location</nb-card-header>
        <nb-card-body>

          <div class="form-group" style="margin-bottom: 1em;">
            <input type="text" class="form-control" id="directoryInput" placeholder="Directory">
          </div>

          <div class="form-group">
            <input type="text" class="form-control" id="apiEndPointInput" placeholder="API End-Point">
          </div>

        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Authorization Info</nb-card-header>
        <nb-card-body>

          <div class="row">

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios" checked>
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">None</span>
              </label>
            </div>
            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">API Key</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Bearer Token</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Basic Auth</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Digest Auth</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">OAuth 1.0</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">OAuth 2.0</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">Hawk Authentication</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">AWS Signature</span>
              </label>
            </div>

            <div class="form-check">
              <label class="custom-control custom-radio">
                <input type="radio" class="custom-control-input" name="authInfoRadios">
                <span class="custom-control-indicator"></span>
                <span class="custom-control-description">NTLM Authentication</span>
              </label>
            </div>

          </div>

        </nb-card-body>
      </nb-card>



      <nb-card>
        <nb-card-header>Basic Authentication</nb-card-header>
        <nb-card-body>

          <div class="form-group">
            <label for="exampleInputEmail1">Username</label>
            <input type="text" class="form-control" id="usernameInput" placeholder="Username">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Password</label>
            <input type="password" class="form-control" id="passwordInput" placeholder="Password">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Confirm Password</label>
            <input type="password" class="form-control" id="passwordConfirmInput" placeholder="Confirm Password">
          </div>

        </nb-card-body>
      </nb-card>


      <nb-card>
        <nb-card-header>OAuth</nb-card-header>
        <nb-card-body>

          <div class="form-group">
            <label for="exampleInputEmail1">Token</label>
            <input type="text" class="form-control" id="tokenInput" placeholder="Token">
          </div>

          <div class="form-group">
            <label for="exampleInputEmail1">Token Refresh URL</label>
            <input type="text" class="form-control" id="tokenRefreshUrlInput" placeholder="Token Refresh URL">
          </div>

        </nb-card-body>
      </nb-card>

      <nb-card>
        <nb-card-header>Transaction Info</nb-card-header>
        <nb-card-body>

          <div class="form-group">
            <nb-checkbox>Use My Primary Wallet</nb-checkbox>
          </div>

          <div class="form-group">
            <nb-checkbox>Fixed Currency</nb-checkbox>
          </div>

          <label for="exampleInputPassword1">Currency</label>
          <nb-select placeholder="Selected Currency" [(selected)]="selectedCurrency" style="margin-bottom: 1em;">
            <nb-option value="usd">United States Dollar</nb-option>
            <nb-option value="gbp">British Pound</nb-option>
            <nb-option value="eur">Euro</nb-option>
          </nb-select>

          <div class="form-group">
            <label for="exampleInputPassword1">Token Rate</label>
            <input type="number" class="form-control" id="tokenRateInput" placeholder="Token Rate">
          </div>

          <div class="form-group">
            <label for="exampleInputPassword1">Currency Rate</label>
            <input type="number" class="form-control" id="currencyRateInput" placeholder="Currency Rate">
          </div>

        </nb-card-body>
      </nb-card>

      <button style="float: right;" type="submit" class="btn btn-success">Create</button>

    </form>
  </nb-card-body>
</nb-card>