@import '../../@theme/styles/themes';

@include nb-install-component() {
 
  .tag {
    background: #BC0547;
    color: white;
    border-radius: 2.5px;
    padding: 0.5em; 
    min-width:60px; 
    display: inline-block;
    margin-right: 1em;
  }

  .dataType {
    background: transparent;
    color: black;
    border-color: #BC0547;
    border-style: solid;
    border-radius: 2.5px;
    padding: 0.5em; 
    min-width:60px; 
    display: inline-block;
    margin-right: 1em;
    text-align: center;
  }
}
