<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

  <nb-card *ngIf="loading">
    <nb-card-header></nb-card-header>
    <nb-card-body>
    </nb-card-body>
  </nb-card>

  <div style="margin-bottom: 0.5em; width:100%;
display:table;">

    <span style="color: black; font-size: 1.5em;">Contract Offer Details</span>

    <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #BC0547"
      (click)="activateClicked(contract?.id)"
      *ngIf="user?.id == contract?.miner_id && (contract?.status === 1)">
      Activate
    </button>

    <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #BC0547"
      (click)="suspendClicked(contract?.id)" *ngIf="user?.id == contract?.miner_id && contract?.status == 0">
      Suspend
    </button>

    <!-- <button type="button" class="btn btn-info"
      style="margin-left: 0.5em; float: right; background-color: transparent; border-color: #BC0547; color: #BC0547;"
      (click)="testClicked()" *ngIf="user?.id == contract?.miner_id && contract.status !== 2">
      Test
    </button> -->

    <button type="button" class="btn btn-warning"
      style="margin-left: 0.5em; float: right; background-color: transparent; border-color: #BC0547; color: #BC0547;"
      (click)="editClicked(contract?.id)" *ngIf="user?.id == contract?.miner_id && contract?.status === 0">
      Edit
    </button>

    <button type="button" class="btn btn-success" style="margin-left: 0.5em; float: right; background-color: #BC0547;"
      (click)="purchaseClicked(contract?.id)" *ngIf="user?.id != contract?.miner_id && contract?.status === 0 && user !== undefined && contract?.userHasAcceptedContract === false">
      Accept
    </button>

    <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #BC0547"
      (click)="terminateClicked(contract?.id)" *ngIf="user?.id == contract?.miner_id && (contract?.status === 0 || contract?.status === 1)">
      Terminate
    </button>

    <button type="button" class="btn btn-success" style="margin-left: 0.5em; float: right; background-color: #BC0547;"
      (click)="purchaseClicked(contract?.id)" *ngIf="contract?.userHasAcceptedContract === true">
      View Contract
    </button>

  </div>

  <contract-list-item [contractDetail]="contract"></contract-list-item>

  <div style="margin-bottom: 0.5em; width:100%;
display:table;">

    <span style="color: black; font-size: 1.5em;">Attachments</span>

    <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #BC0547"
      (click)="newCommentClicked()" *ngIf="(user | json) !== '{}' && user !== undefined">
      Message Seller
    </button>

  </div>

  <div class="row">

    <div class="col-md-2" style="padding: 0px;" *ngFor="let option of contract?.files">

      <a href="{{option.fileUrl}}" download>
        <nb-card>
          <nb-card-header style="background-color: #BC0547; color: #ffffff; min-height: 3.5em; max-height: 3.5em;">
            {{option.fileName}}.{{option.fileType}}
            <i class="nb-layout-right nb-arrow-thin-down"
              style="float: right; font-size: 1.5em; color: #ffffff; font-weight: bold;"></i>
          </nb-card-header>
        </nb-card>
      </a>


    </div>
  </div>

</div>