<div style="margin-bottom: 0.5em; width:100%;
display:table;">

  <span style="color: black; font-size: 1.5em;">{{ contract?.name }}</span>

  <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #BC0547"
    (click)="activateClicked()"
    *ngIf="user.id == contract?.miner_id && (contract?.status == 1 || contract?.status == 2)">
    Activate
  </button>

  <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #ff6b83"
    (click)="suspendClicked(contract?.id)" *ngIf="user.id == contract?.miner_id && contract?.status == 0">
    Suspend
  </button>

  <button type="button" class="btn btn-info"
    style="margin-left: 0.5em; float: right; background-color: transparent; border-color: #BC0547; color: #BC0547;"
    (click)="testClicked()" *ngIf="user.id == contract?.miner_id">
    Test
  </button>

  <button type="button" class="btn btn-warning"
    style="margin-left: 0.5em; float: right; background-color: transparent; border-color: #BC0547; color: #BC0547;"
    (click)="editClicked(contract?.id)" *ngIf="user.id == contract?.miner_id && contract?.status == 0">
    Edit
  </button>

  <button type="button" class="btn btn-success" style="margin-left: 0.5em; float: right;" (click)="purchaseClicked()"
    *ngIf="user.id != contract?.miner_id && contract?.status == 0">
    Purchase
  </button>

</div>

<nb-card>

  <nb-card-header>
    Description
    <span style="float: right;">v{{ contract?.version }}</span>
  </nb-card-header>

  <nb-card-body>

    {{ contract?.description }}

  </nb-card-body>

  <nb-card-footer>

    <div class="tag" *ngFor="let option of contract?.tags">
      {{ option?.name }}
    </div>

    <nb-alert status="{{ contract?.status | contractStatusColor }}"
      style="float: right; text-align: center; margin-bottom: 0;">{{ contract?.status | contractStatus }}
    </nb-alert>

  </nb-card-footer>

</nb-card>






<div style="margin-bottom: 0.5em; width:100%;
display:table;">

  <span style="color: black; font-size: 1.5em;">Attachments</span>

  <button type="button" class="btn btn-primary" style="margin-left: 0.5em; float: right; background-color: #BC0547"
    (click)="newCommentClicked()" *ngIf="(user | json) != '{}'">
    Message Seller
  </button>

</div>

<div class="row">

  <div class="col-md-2" style="padding: 0px;" *ngFor="let option of contract?.files">

    <a href="{{option.fileUrl}}" download>
      <nb-card>
        <nb-card-header style="background-color: #BC0547; color: #ffffff; min-height: 3.5em; max-height: 3.5em;">
          {{option.fileName}}.{{option.fileType}}
          <i class="nb-layout-right nb-arrow-thin-down"
            style="float: right; font-size: 1.5em; color: #ffffff; font-weight: bold;"></i>
        </nb-card-header>
      </nb-card>
    </a>


  </div>
</div>