<div style="margin-bottom: 0.5em;">

    <button type="button" class="btn btn-outline-primary btn-icon" style="display: inline-block;" (click)="backClicked()">
        <i class="nb-layout-right nb-arrow-thin-left"></i>
    </button>

    <span style="margin-left: 1em; color: black; font-size: 1.5em;">{{ threads?.topic.title }}</span>

    <button type="button" class="btn btn-success btn-icon" style="margin-left: 0.5em; float: right;" (click)="newThreadClicked()" *ngIf="(user | json) != '{}'">
        <i class="nb-layout-right nb-compose"></i>
    </button>

</div>

<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <nb-card style="text-align: center; background: transparent; border: none;" *ngIf="threads?.dt_thread_lines.length == 0">
        <nb-card-body>
            <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
            <p>We didn't find anything here...</p>
        </nb-card-body>
    </nb-card>

    <nb-card *ngFor="let thread of threads?.dt_thread_lines" (click)="onClickThread(thread.id)">
        <nb-card-header>{{ thread.title }}</nb-card-header>

        <nb-card-body>
            <nb-user [picture]="thread.picture" [name]="thread.username" title="4.8" style="margin-bottom: 2em;">
            </nb-user>
            <p>{{ thread.body }}</p>
        </nb-card-body>
        <nb-card-footer>
            <span>{{ thread.comment_count }} Comments</span>
            <span style="float: right;">{{ thread.creation_time | date:'medium' }}</span>
        </nb-card-footer>
    </nb-card>

</div>