<div style="margin-bottom: 0.5em; width:100%;
display:table;">

    <span style="color: black; font-size: 1.5em; display:table-cell;
    vertical-align:middle;">Data Hub</span>

    <button type="button" class="btn btn-success" style="float: right;" (click)="newContractClicked()">
        Create
    </button>

</div>

<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <nb-tabset fullWidth>
        <nb-tab tabTitle="My Offers">

            <nb-card style="text-align: center; background: transparent; border: none;"
                *ngIf="offers?.length == 0 || !offers">
                <nb-card-body>
                    <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
                    <p>We didn't find anything here...</p>
                </nb-card-body>
            </nb-card>

            <nb-card (click)="onClick_Contract(option.id)" *ngFor="let option of offers">

                <nb-card-header style="position: relative">

                    <nb-alert status="warning"
            style="text-align: center; margin-bottom: 0; width: auto; display: inline-flex;">{{ option.data_type | dataType }}</nb-alert>
            
                    {{ option.name }}

                    <span style="float: right;">v{{ option.version }}</span>
                </nb-card-header>

                <nb-card-body style="display: table-cell; vertical-align: middle;">
                    {{ option.description }}
                </nb-card-body>

                <nb-alert status="{{ option.status | contractStatusColor }}"
                    style="float: right; text-align: center; margin-bottom: 0;">
                    {{ option.status | contractStatus }}</nb-alert>

            </nb-card>

        </nb-tab>

        <nb-tab tabTitle="My Contracts">
            <nb-card style="text-align: center; background: transparent; border: none;"
                *ngIf="contracts?.length == 0 || !contracts">
                <nb-card-body>
                    <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
                    <p>We didn't find anything here...</p>
                </nb-card-body>
            </nb-card>

            <nb-card (click)="onClick_Contract(option.id)" *ngFor="let option of contracts">
                <nb-card-header>
                    {{ option.name }}
                    <span style="float: right;">v{{ option.version }}</span>
                </nb-card-header>

                <nb-card-body style="display: table-cell; vertical-align: middle;">
                    {{ option.description }}
                </nb-card-body>

                <nb-alert status="{{ option.status | contractStatusColor }}"
                    style="float: right; text-align: center; margin-bottom: 0;">
                    {{ option.status | contractStatus }}</nb-alert>

            </nb-card>
        </nb-tab>

        <nb-tab tabTitle="Pending Requests">
            <nb-card style="text-align: center; background: transparent; border: none;"
                *ngIf="requests?.length == 0 || !requests">
                <nb-card-body>
                    <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
                    <p>We didn't find anything here...</p>
                </nb-card-body>
            </nb-card>

            <nb-card *ngFor="let request of requests">

                <nb-card-body>
                    <nb-user [picture]="request.picture" [name]="request.username" title="4.8"
                        style="margin-bottom: 2em;">
                    </nb-user>
                    <p style="font-weight: bold;">{{ request.contract_name }}</p>
                    <span style="float: right;">{{ request.created_on }}</span>
                </nb-card-body>

                <nb-alert status="success" style="float: right; text-align: center; margin-bottom: 0;" (click)="acceptContractRequest(request.id)">
                    Accept</nb-alert>

                <nb-alert status="danger" style="float: right; text-align: center; margin-bottom: 0;" (click)="rejectContractRequest(request.id)">
                    Reject</nb-alert>

            </nb-card>

        </nb-tab>
    </nb-tabset>

</div>