<div style="margin-bottom: 0.5em; width:100%;
display:table;">

  <span style="color: black; font-size: 1.5em; display:table-cell;
    vertical-align:middle;">Edit Contract</span>

</div>

<nb-card>

  <nb-card-body>
    <form [formGroup]="newContractOfferForm">

      <div class="form-group">
        <input type="text" class="form-control" id="name" placeholder="Title" formControlName="contract_name">
      </div>

      <div class="form-group" style="margin-bottom: 2em;">
        <input type="text" class="form-control" id="descriptionInput" placeholder="Description"
          formControlName="contract_description">
      </div>

      <h6 for="exampleInputPassword1">Tags</h6>
      <div class="form-group" style="margin-bottom: 2em;">
        <tag-input class="form-control" formControlName="contract_tags" [maxItems]='5' theme='bootstrap'></tag-input>
      </div>



      <h6 for="exampleInputPassword1">Data Type</h6>
      <div class="row" style="margin-bottom: 2em;">
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="raw" formControlName="data_type" checked>
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Raw</span>
          </label>
        </div>
        <div class="form-check">
          <label class="custom-control custom-radio">
            <input type="radio" class="custom-control-input" value="processed" formControlName="data_type">
            <span class="custom-control-indicator"></span>
            <span class="custom-control-description">Processed</span>
          </label>
        </div>
      </div>

      <h6 for="exampleInputPassword1">Available Data Formats</h6>
      <div class="row" style="margin-bottom: 1em; padding-left: 1.5em;">

        <div class="form-group">
          <nb-checkbox formControlName="data_format_json">JSON</nb-checkbox>
        </div>

        <div class="form-group">
          <nb-checkbox formControlName="data_format_xml">XML</nb-checkbox>
        </div>

        <div class="form-group">
          <nb-checkbox formControlName="data_format_csv">CSV</nb-checkbox>
        </div>

        <div class="form-group">
          <nb-checkbox formControlName="data_format_xlsx">XLSX</nb-checkbox>
        </div>

        <div class="form-group">
          <nb-checkbox formControlName="data_format_plaintext">Plain Text</nb-checkbox>
        </div>
      </div>

      <label for="exampleInputEmail1">Timezone</label>
      <nb-select placeholder="Select Timezone" [(selected)]="selectedTimezone">
        <nb-option value="nst">New Zealand Standard Time (GMT+12:00)</nb-option>
        <nb-option value="sst">Solomon Standard Time (GMT+11:00)</nb-option>
        <nb-option value="aet">Australia Eastern Time (GMT+10:00)</nb-option>
        <nb-option value="act">Australia Central Time (GMT+9:30)</nb-option>
        <nb-option value="jst">Japan Standard Time (GMT+9:00)</nb-option>
        <nb-option value="ctt">China Taiwan Time (GMT+8:00)</nb-option>
        <nb-option value="vst">Vietnam Standard Time (GMT+7:00)</nb-option>
        <nb-option value="bst">Bangladesh Standard Time (GMT+6:00)</nb-option>
        <nb-option value="ist">India Standard Time (GMT+5:30)</nb-option>
        <nb-option value="plt">Pakistan Lahore Time (GMT+5:00)</nb-option>
        <nb-option value="net">Near East Time (GMT+4:00)</nb-option>
        <nb-option value="met">Middle East Time (GMT+3:30)</nb-option>
        <nb-option value="eat">Eastern African Time (GMT+3:00)</nb-option>
        <nb-option value="art">(Arabic) Egypt Standard Time (GMT+2:00)</nb-option>
        <nb-option value="eet">Eastern European Time (GMT+2:00)</nb-option>
        <nb-option value="ect">European Central Time (GMT+1:00)</nb-option>
        <nb-option value="gmt">Greenwich Mean Time (GMT)</nb-option>
        <nb-option value="utc">Universal Coordinated Time (UTC)</nb-option>
        <nb-option value="cat">Central African Time (GMT-1:00)</nb-option>
        <nb-option value="bet">Brazil Eastern Time (GMT-3:00)</nb-option>
        <nb-option value="ast">Argentina Standard Time (GMT-3:00)</nb-option>
        <nb-option value="cnt">Canada Newfoundland Time (GMT-3:30)</nb-option>
        <nb-option value="prt">Puerto Rico and US Virgin Islands Time (GMT-4:00)</nb-option>
        <nb-option value="iet">Indiana Eastern Standard Time (GMT-5:00)</nb-option>
        <nb-option value="est">Eastern Standard Time (GMT-5:00)</nb-option>
        <nb-option value="cst">Central Standard Time (GMT-6:00)</nb-option>
        <nb-option value="mst">Mountain Standard Time (GMT-7:00)</nb-option>
        <nb-option value="pnt">Phoenix Standard Time (GMT-7:00)</nb-option>
        <nb-option value="pst">Pacific Standard Time (GMT-8:00)</nb-option>
        <nb-option value="ast">Alaska Standard Time (GMT-9:00)</nb-option>
        <nb-option value="hst">Hawaii Standard Time (GMT-10:00)</nb-option>
        <nb-option value="mit">Midway Islands Time (GMT-11:00)</nb-option>
      </nb-select>

      <div class="row">

        <div class="col-md-12 col-lg-6 col-xxxl-6">
          <nb-card>
            <nb-card-header>Start Date</nb-card-header>
            <nb-card-body>
              <input nbInput placeholder="Start Date" [nbDatepicker]="startdatecontrol" [formControl]="startDateControl"
                style="width: 100%;">
              <nb-datepicker #startdatecontrol></nb-datepicker>
            </nb-card-body>
          </nb-card>
        </div>

        <div class="col-md-12 col-lg-6 col-xxxl-6">
          <nb-card>
            <nb-card-header>End Date</nb-card-header>
            <nb-card-body>
              <input nbInput placeholder="End Date" [nbDatepicker]="enddatecontrol" [formControl]="endDateControl"
                style="width: 100%;">
              <nb-datepicker #enddatecontrol></nb-datepicker>
            </nb-card-body>
          </nb-card>
        </div>

      </div>

      <button style="float: right;" type="submit" class="btn btn-success" (click)="create()">Update</button>

    </form>
  </nb-card-body>
</nb-card>