<nb-card>
    <nb-card-header>
        THE DATA TRADING PLATFORM
    </nb-card-header>

    <nb-card-body>
        <p>Is there a better way to collect data for professional services?</p>
        <p>We think so.</p>
        <p>Sports betting data is currently supplied by a small number of sports data collection and distribution
            organisations. These operations are hub-based organisations, with all operations occupying a central data
            collection site. This is an example of a traditional business model that requires ownership of the assets
            and data.</p>
        <p>The Data Trading Platform takes its inspiration from disruptive companies such as Uber who have
            revolutionised the
            Taxi business and Air B&B. which has changed the short-term rental accommodation market. The Data Trading
            Platform
            does not own the hardware that collects the data, nor does it own the data. It is simply a lean marketplace
            for
            those who want to collect data, process data and use data to create businesses.</p>
        <p>The information is gathered by the community, packaged through the Data Trading Platform and bought by
            users. This
            provides a highly efficient business model, offering best value and flexible services for customers -
            coupled with
            a fair reward for suppliers. Thereby creating a data trading service for the sharing economy (or perhaps
            more
            accurately described as the access economy).</p>
        <p>These same tools could then be formed into a general-purpose Data Trading Platform.</p>
    </nb-card-body>
</nb-card>


<nb-card>
    <nb-card-header>Our Partners</nb-card-header>
    <nb-card-body>
        <div class="row teamContainer">
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="partnerImg"
                    src="https://pbs.twimg.com/profile_images/1097920701883916288/rWxsKnQu_400x400.png" alt="IBM"
                    height="200" width="200">
                <h4 class="teamMemberName">IBM</h4>
            </div>
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="partnerImg"
                    src="https://www.apple.com/ac/structured-data/images/knowledge_graph_logo.png?201606271147"
                    alt="Apple" height="200" width="200">
                <h4 class="teamMemberName">Apple</h4>
            </div>
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="partnerImg" src="https://pbs.twimg.com/profile_images/1057899591708753921/PSpUS-Hp.jpg"
                    alt="Google" height="200" width="200">
                <h4 class="teamMemberName">Google</h4>
            </div>
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="partnerImg"
                    src="https://pbs.twimg.com/profile_images/1103786517686771712/UvG4ZtYW_400x400.png" alt="Microsoft"
                    height="200" width="200">
                <h4 class="teamMemberName">Microsoft</h4>
            </div>
        </div>
    </nb-card-body>
</nb-card>

<nb-card>
    <nb-card-header>The Team</nb-card-header>
    <nb-card-body>
        <div class="row teamContainer">
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="teamMemberImg"
                    src="https://media.licdn.com/dms/image/C4E03AQE88cUE2aPZBA/profile-displayphoto-shrink_200_200/0?e=1557964800&v=beta&t=jHHvZcZjuliJv-tPo0GDfLZfAWPrlF6EfFts-DoGDgU"
                    alt="Hugh Stratford-Michaels" height="200" width="200">
                <h4 class="teamMemberName">Hugh Stratford-Michaels</h4>
                <span>Technical Team Lead</span>
            </div>
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="teamMemberImg"
                    src="https://media.licdn.com/dms/image/C4E03AQE88cUE2aPZBA/profile-displayphoto-shrink_200_200/0?e=1557964800&v=beta&t=jHHvZcZjuliJv-tPo0GDfLZfAWPrlF6EfFts-DoGDgU"
                    alt="Chris" height="200" width="200">
                <h4 class="teamMemberName">Chris</h4>
                <span>Technical Team Lead</span>
            </div>
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="teamMemberImg"
                    src="https://media.licdn.com/dms/image/C4E03AQE88cUE2aPZBA/profile-displayphoto-shrink_200_200/0?e=1557964800&v=beta&t=jHHvZcZjuliJv-tPo0GDfLZfAWPrlF6EfFts-DoGDgU"
                    alt="Phil" height="200" width="200">
                <h4 class="teamMemberName">Phil</h4>
                <span>Technical Team Lead</span>
            </div>
            <div class="col-md-3" style="margin-bottom: 1em;">
                <img class="teamMemberImg"
                    src="https://media.licdn.com/dms/image/C4E03AQE88cUE2aPZBA/profile-displayphoto-shrink_200_200/0?e=1557964800&v=beta&t=jHHvZcZjuliJv-tPo0GDfLZfAWPrlF6EfFts-DoGDgU"
                    alt="Jack Nutkins" height="200" width="200">
                <h4 class="teamMemberName">Jack Nutkins</h4>
                <span>Technical Team Lead</span>
            </div>
        </div>
    </nb-card-body>
</nb-card>