@import '../../@theme/styles/themes';

@import '~bootstrap/scss/mixins/breakpoints';
@import '~@nebular/theme/components/card/card.component.theme';
@import '~@nebular/theme/styles/global/breakpoints';
@import '~@nebular/theme/styles/core/mixins';

@include nb-install-component() {

  .teamContainer {

    display:flex;
    flex-direction:row;
    justify-content: space-around;
    text-align: center;
  }

  .teamMemberImg {

    border-radius: 50%;
    border: 5px solid #00f9a6;
  }  

  .teamMemberName {

    margin-top: 15px;
  }

  .teamMemberTitle {

  }

  .partnerImg {

    border-radius: 50%;
  }  
}