@import '../../@theme/styles/themes';

@include nb-install-component() {

  .full-width {
    flex: 1;
    min-width: 220px;
  }

  nb-checkbox {
    margin-bottom: 1rem;
  }

  .form-inline > * {
    @include nb-ltr(margin, 0 1.5rem 1.5rem 0);
    @include nb-rtl(margin, 0 0 1.5rem 1.5rem);
  }

  nb-card.inline-form-card nb-card-body {
    padding-bottom: 0;
  }
  
  :host {
    font-family: "Helvetica Neue", Helvetica, Roboto, Arial, sans-serif;
  }
  
  .text-center {
    text-align: center;
  }
  
  .list {
    max-width: 550px;
    margin: auto;
  }
  
  li {
    margin-bottom: 5px;
  }

  .tag {
    background: #BC0547;
    color: white;
    border-radius: 2.5px;
    padding: 0.5em; 
    min-width:60px; 
    display: inline-block;
    margin-right: 1em;
  }

}
