<div class="row">
    <div class="col-md-6">

        <nb-card>
            <nb-card-header>WATCHED TAGS</nb-card-header>
            <nb-card-body>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>IGNORED TAGS</nb-card-header>
            <nb-card-body>

            </nb-card-body>
        </nb-card>
    </div>
</div>

<div class="row">
    <div class="col-md-6">

        <nb-card>
            <nb-card-header>DATA REQUESTS</nb-card-header>
            <nb-card-body>

            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-md-6">
        <nb-card>
            <nb-card-header>CONTRACT OFFERS</nb-card-header>
            <nb-card-body>

            </nb-card-body>
        </nb-card>
    </div>
</div>
