<div class="row" *ngIf="(user | json) != '{}'">
    <div class="col-md-6">

        <nb-card>
            <nb-card-header>

                WATCHED TAGS
                <i class="nb-layout-right nb-heart"
                    style="float: right; font-size: 1.5em; color: #BC0547; font-weight: bold;"></i>
            </nb-card-header>
            <nb-card-body>

                <div [nbSpinner]="loadingWatchedTags" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

                    <nb-card *ngIf="loadingWatchedTags">
                        <nb-card-header></nb-card-header>
                        <nb-card-body>
                        </nb-card-body>
                    </nb-card>
                
                    <div class="tag" *ngFor="let option of watchedTags">
                        {{ option?.name }}
                    </div>

                    <button nbButton status="danger" class="btn" style="float: right; background-color: #BC0547;" *ngIf="!loadingWatchedTags">
                        Edit
                    </button>
                
                </div>
                
            </nb-card-body>
        </nb-card>
    </div>



    <div class="col-md-6">
        <nb-card>
            <nb-card-header>

                IGNORED TAGS
                <i class="nb-layout-right nb-close-circled"
                    style="float: right; font-size: 1.5em; color: #BC0547; font-weight: bold;"></i>
            </nb-card-header>
            <nb-card-body>

                <div [nbSpinner]="loadingIgnoredTags" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

                    <nb-card *ngIf="loadingIgnoredTags">
                        <nb-card-header></nb-card-header>
                        <nb-card-body>
                        </nb-card-body>
                    </nb-card>
                
                    <div class="tag" *ngFor="let option of ignoredTags">
                        {{ option?.name }}
                    </div>

                    <button nbButton status="danger" class="btn" style="float: right; background-color: #BC0547;" *ngIf="!loadingIgnoredTags">
                        Edit
                    </button>
                
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>

<div style="margin-bottom: 0.5em; width:100%;
display:table;">

    <span style="color: black; font-size: 1.5em; display:table-cell;
    vertical-align:middle;">Latest Offers</span>

</div>

<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <nb-card style="text-align: center; background: transparent; border: none;" *ngIf="contracts?.length == 0">
        <nb-card-body>
            <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
            <p>We didn't find anything here...</p>
        </nb-card-body>
    </nb-card>

    <contract-list-item *ngFor="let option of contracts" [contractDetail]="option"></contract-list-item>

    <pagination-controls (pageChange)="p = $event" [maxSize]="12" (pageChange)="onPageChange($event)">
    </pagination-controls>

</div>