<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card status="success" *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <div>
        <div class="row">
            <div class="col-md-9">
                <nb-card>
                    <nb-card-header>{{ theUser?.username }}</nb-card-header>
                    <nb-card-body>

                        <h6>Bio</h6>

                        <p>{{ theUser?.bio }}</p>

                        <button nbButton status="danger" class="btn btn-icon"
                            style="float: right; background-color: transparent; border-style: solid; border-color: #BC0547; color: #BC0547;"
                            [disabled]="(!loggedIn || user?.id == theUser?.id)" (click)="reportUserClicked()">
                            <i class="nb-layout-right nb-alert"></i>
                        </button>

                        <button nbButton status="danger" class="btn"
                            style="float: right; margin-right: 1em; background-color: #BC0547;"
                            [disabled]="(!loggedIn || user?.id == theUser?.id)" (click)="inviteToContractClicked(theUser?.id, theUser?.username)">
                            INVITE TO CONTRACT
                        </button>

                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-3">
                <nb-card style="background: transparent; border: none;">
                    <nb-card-body class="imgContainer">
                        <img class="userImg" src="{{ theUser?.picture }}" alt="User Image" height="100" width="100">
                    </nb-card-body>
                </nb-card>
            </div>
        </div>
    </div>
</div>


<div style="margin-bottom: 0.5em;">

    <span style="margin-left: 1em; color: black; font-size: 1.5em;">{{ theUser?.username }}'s Contract Offers:</span>

</div>


<div [nbSpinner]="contractsLoading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card *ngIf="contractsLoading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <nb-card style="text-align: center; background: transparent; border: none;" *ngIf="contracts?.length == 0">
        <nb-card-body>
            <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
            <p>We didn't find anything here...</p>
        </nb-card-body>
    </nb-card>

    <contract-list-item *ngFor="let option of contracts" [contractDetail]="option"></contract-list-item>

</div>