<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card status="success" *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <div>

        <div class="row">
            <div class="col-md-9">

                <nb-card>
                    <nb-card-header>ACCOUNT DETAILS</nb-card-header>
                    <nb-card-body>
                        <div class="input-group">
                            <input type="text" nbInput fullWidth placeholder="Username" value="{{ theUser.username }}">
                        </div>
                        <div class="input-group">
                            <input type="email" nbInput fullWidth placeholder="Email" value="{{ theUser.email }}" disabled>
                        </div>
                        <div class="input-group">
                            <input type="email" nbInput fullWidth placeholder="Mobile" disabled>
                        </div>
                        <button nbButton status="success" style="margin-right: 1em;">Save</button>
                    </nb-card-body>
                </nb-card>
            </div>
            <div class="col-md-3">
                <nb-card>
                    <nb-card-header>EDIT IMAGE</nb-card-header>
                    <nb-card-body class="imgContainer">
                        <img class="userImg" src="{{ theUser.picture }}" alt="User Image" height="200"
                            width="200">
                    </nb-card-body>
                </nb-card>
            </div>
        </div>

        <nb-card>
            <nb-card-body>
                <button nbButton status="primary" style="width: 100%;">Enable 2-Factor Authentication</button>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>WALLET DETAILS</nb-card-header>
            <nb-card-body>
                <div class="input-group">
                    <input type="text" nbInput fullWidth placeholder="WALLET ID" disabled />
                </div>
            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>PREFERENCES</nb-card-header>
            <nb-card-body>
                <h6>Timezone:</h6>
                <nb-select placeholder="Select Timezone" [(selected)]="selectedItem">
                    <nb-option value="gmt">GMT</nb-option>
                </nb-select>
                <h6 style="margin-top: 1em;">E-Mail Notifications:</h6>
                <div class="row">
                    <nb-checkbox status="success" class="col-md-3">News</nb-checkbox>
                    <nb-checkbox status="success" class="col-md-3">Deposit</nb-checkbox>
                    <nb-checkbox status="success" class="col-md-3">Receipt</nb-checkbox>
                    <nb-checkbox status="success" class="col-md-3">Warnings</nb-checkbox>
                </div>

            </nb-card-body>
        </nb-card>

        <nb-card>
            <nb-card-header>DANGER</nb-card-header>
            <nb-card-body>
                <button nbButton status="warning" style="width: 100%; margin-bottom: 1em;"
                    (click)="chagePasswordClicked()">Change Password</button>
                <button nbButton status="danger" style="width: 100%;">Delete Account</button>
            </nb-card-body>
        </nb-card>

    </div>

</div>