<div style="margin-bottom: 0.5em; width:100%;
display:table;">

  <span style="color: black; font-size: 1.5em; display:table-cell;
    vertical-align:middle;">Create a New Contract</span>

  <button style="float: right; background-color: #BC0547;" type="submit" class="btn" (click)="create()"
    [disabled]="newContractOfferForm.invalid">
    DONE
  </button>

</div>

<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

  <nb-card>

    <nb-card-body>

      <form #newContractOfferForm="ngForm">

        <div class="form-group">
          <input id="contract_name" name="contract_name" class="form-control" required placeholder="Contract Title"
            type="text" minlength="10" [(ngModel)]="contract.name" #contract_name="ngModel">
        </div>

        <div *ngIf="contract_name.invalid && (contract_name.dirty || contract_name.touched)" class="alert alert-danger">
          <div *ngIf="contract_name.errors.required">
            Contract Title is required.
          </div>
          <div *ngIf="contract_name.errors.minlength">
            Contract Title must be at least 10 characters long.
          </div>
          <div *ngIf="contract_name.errors.maxlength">
            Contract Title must be at less than 125 characters long.
          </div>
        </div>

        <p>This is a detailed description of the service promised. Including when appropriate additional files such as
          XML
          examples, APIs, Category Structure, Data formatting or further documentation. Please detail the frequency of
          the
          Data feed if it is critical to the service. Please include a Time lag performance criteria target or guarantee
          also.</p>

        <div class="form-group">
          <textarea id="description" [(ngModel)]="contract.description" name="description" class="form-control" required
            placeholder="Description of Terms" minlength="25" rows="4" #description="ngModel">
  </textarea>
        </div>

        <div *ngIf="description.invalid && (description.dirty || description.touched)" class="alert alert-danger">
          <div *ngIf="description.errors.required">
            Contract Description is required.
          </div>
          <div *ngIf="description.errors.minlength">
            Contract Description must be at least 25 characters long.
          </div>
          <div *ngIf="description.errors.maxlength">
            Contract Title must be at less than 1000 characters long.
          </div>
        </div>

        <div class="form-group">
          <nb-checkbox name="is_private" [(ngModel)]="contract.is_private" #name="ngModel">Private</nb-checkbox>
        </div>





        <h6>Tags</h6>
        <div class="form-group" style="margin-bottom: 2em;">
          <tag-input class="form-control" [maxItems]='5' theme='bootstrap' [(ngModel)]="contract.tags" name="tags"
            #tags="ngModel">
          </tag-input>
        </div>




        <h6>Data Type</h6>
        <div class="row" style="margin-bottom: 2em;">
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="raw" [(ngModel)]="data_type" name="data_type"
                checked>
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Raw</span>
            </label>
          </div>
          <div class="form-check">
            <label class="custom-control custom-radio">
              <input type="radio" class="custom-control-input" value="processed" [(ngModel)]="data_type"
                name="data_type">
              <span class="custom-control-indicator"></span>
              <span class="custom-control-description">Processed</span>
            </label>
          </div>
        </div>

        <h6>Available Data Formats</h6>
        <div class="row" style="margin-bottom: 1em; padding-left: 1.5em;">

          <div class="form-group">
            <nb-checkbox name="data_format_json" [(ngModel)]="contract.data_format_json" #name="ngModel">JSON
            </nb-checkbox>
          </div>

          <div class="form-group">
            <nb-checkbox name="data_format_xml" [(ngModel)]="contract.data_format_xml" #name="ngModel">XML</nb-checkbox>
          </div>

          <div class="form-group">
            <nb-checkbox name="data_format_csv" [(ngModel)]="contract.data_format_csv" #name="ngModel">CSV</nb-checkbox>
          </div>

          <div class="form-group">
            <nb-checkbox name="data_format_xlsx" [(ngModel)]="contract.data_format_xlsx" #name="ngModel">XLSX
            </nb-checkbox>
          </div>

          <div class="form-group">
            <nb-checkbox name="data_format_plain_text" [(ngModel)]="contract.data_format_plain_text" #name="ngModel">
              Plain
              Text</nb-checkbox>
          </div>
        </div>

        <nb-select placeholder="Select Timezone" [(selected)]="selectedTimezone" name="timezone"
          [(ngModel)]="contract.timezone" #name="ngModel">
          <nb-option value="nst">New Zealand Standard Time (GMT+12:00)</nb-option>
          <nb-option value="sst">Solomon Standard Time (GMT+11:00)</nb-option>
          <nb-option value="aet">Australia Eastern Time (GMT+10:00)</nb-option>
          <nb-option value="act">Australia Central Time (GMT+9:30)</nb-option>
          <nb-option value="jst">Japan Standard Time (GMT+9:00)</nb-option>
          <nb-option value="ctt">China Taiwan Time (GMT+8:00)</nb-option>
          <nb-option value="vst">Vietnam Standard Time (GMT+7:00)</nb-option>
          <nb-option value="bst">Bangladesh Standard Time (GMT+6:00)</nb-option>
          <nb-option value="ist">India Standard Time (GMT+5:30)</nb-option>
          <nb-option value="plt">Pakistan Lahore Time (GMT+5:00)</nb-option>
          <nb-option value="net">Near East Time (GMT+4:00)</nb-option>
          <nb-option value="met">Middle East Time (GMT+3:30)</nb-option>
          <nb-option value="eat">Eastern African Time (GMT+3:00)</nb-option>
          <nb-option value="art">(Arabic) Egypt Standard Time (GMT+2:00)</nb-option>
          <nb-option value="eet">Eastern European Time (GMT+2:00)</nb-option>
          <nb-option value="ect">European Central Time (GMT+1:00)</nb-option>
          <nb-option value="gmt">Greenwich Mean Time (GMT)</nb-option>
          <nb-option value="utc">Universal Coordinated Time (UTC)</nb-option>
          <nb-option value="cat">Central African Time (GMT-1:00)</nb-option>
          <nb-option value="bet">Brazil Eastern Time (GMT-3:00)</nb-option>
          <nb-option value="ast">Argentina Standard Time (GMT-3:00)</nb-option>
          <nb-option value="cnt">Canada Newfoundland Time (GMT-3:30)</nb-option>
          <nb-option value="prt">Puerto Rico and US Virgin Islands Time (GMT-4:00)</nb-option>
          <nb-option value="iet">Indiana Eastern Standard Time (GMT-5:00)</nb-option>
          <nb-option value="est">Eastern Standard Time (GMT-5:00)</nb-option>
          <nb-option value="cst">Central Standard Time (GMT-6:00)</nb-option>
          <nb-option value="mst">Mountain Standard Time (GMT-7:00)</nb-option>
          <nb-option value="pnt">Phoenix Standard Time (GMT-7:00)</nb-option>
          <nb-option value="pst">Pacific Standard Time (GMT-8:00)</nb-option>
          <nb-option value="ast">Alaska Standard Time (GMT-9:00)</nb-option>
          <nb-option value="hst">Hawaii Standard Time (GMT-10:00)</nb-option>
          <nb-option value="mit">Midway Islands Time (GMT-11:00)</nb-option>
        </nb-select>

        <div class="row">

          <div class="col-md-12 col-lg-6 col-xxxl-6">
            <nb-card>
              <nb-card-header>Start Date</nb-card-header>
              <nb-card-body>
                <input nbInput placeholder="Start Date" [nbDatepicker]="startdatecontrol" name="timezone"
                  [(ngModel)]="contract.startdate" #name="ngModel" style="width: 100%;">
                <nb-datepicker #startdatecontrol></nb-datepicker>
              </nb-card-body>
            </nb-card>
          </div>

          <div class="col-md-12 col-lg-6 col-xxxl-6">
            <nb-card>
              <nb-card-header>End Date</nb-card-header>
              <nb-card-body>
                <input nbInput placeholder="End Date" [nbDatepicker]="enddatecontrol" name="timezone"
                  [(ngModel)]="contract.enddate" #name="ngModel" style="width: 100%;">
                <nb-datepicker #enddatecontrol></nb-datepicker>
              </nb-card-body>
            </nb-card>
          </div>

        </div>

        <nb-card>
          <nb-card-header>Server Details to Send Data</nb-card-header>
          <nb-card-body>

            <p>When the Contract is created the Data Trading Platform will build a Data Transfer Gateway (DTG) to
              install
              on your server. The DTG will facilitate fast reliable data transfers, updates to your account records and
              where payment is dependent on file transfers provide Proof of Work to authorise payments.</p>
            <p>You will need access to a server with a unique www address with Docker installed. (If you don’t have
              these facilities there are many cloud based solutions that provide virtual servers with pre installed
              Docker
              such as digital Ocean). You will need to provide a directory for your DTG, the DTG of your Users where you
              will send your data files. The DTP will pick these up and forward. These server details will not be
              disclosed outside the DTP or to your Users. Please ensure we have access to install in the directory with
              your Directory Details. Please see technical help in our FAQs for information about configuring your
              systems.
            </p>

            <div class="form-group">
              <input id="location_serverURL" name="location_serverURL" class="form-control" required
                placeholder="Server URL" type="text" [(ngModel)]="contract.location_serverURL"
                #location_serverURL="ngModel">
            </div>

            <div *ngIf="location_serverURL.invalid && (location_serverURL.dirty || location_serverURL.touched)"
              class="alert alert-danger">
              <div *ngIf="location_serverURL.errors.required">
                Server URL is required.
              </div>
            </div>

            <div class="form-group">
              <input id="username" name="username" class="form-control" required placeholder="Username" type="text"
                [(ngModel)]="contract.username" #username="ngModel">
            </div>

            <div *ngIf="username.invalid && (username.dirty || username.touched)" class="alert alert-danger">
              <div *ngIf="username.errors.required">
                Username is required.
              </div>
            </div>

            <div class="form-group">
              <input id="password" name="password" class="form-control" required placeholder="Password" type="password"
                [(ngModel)]="contract.password" #password="ngModel">
            </div>

            <div *ngIf="password.invalid && (password.dirty || password.touched)" class="alert alert-danger">
              <div *ngIf="password.errors.required">
                Password is required.
              </div>
            </div>

            <div class="form-group">
              <input id="passwordConfirm" name="passwordConfirm" class="form-control" required
                placeholder="Confirm Password" type="password" [(ngModel)]="contract.passwordConfirm"
                #passwordConfirm="ngModel">
            </div>

            <div *ngIf="passwordConfirm.invalid && (passwordConfirm.dirty || passwordConfirm.touched)"
              class="alert alert-danger">
              <div *ngIf="passwordConfirm.errors.required">
                Password Confirm is required.
              </div>
            </div>

          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>Transaction Info</nb-card-header>
          <nb-card-body>

            <div class="form-group">
              <nb-checkbox name="limit_contracts" [(ngModel)]="limit_contracts" #name="ngModel">Limit Contracts?
              </nb-checkbox>
            </div>

            <div class="form-group">
              <input type="number" class="form-control" id="contract_limit" placeholder="Contract Limit"
                name="contract_limit" [(ngModel)]="contract.contract_limit" #name="ngModel" *ngIf="limitContracts()">
            </div>

            <p>Each contract can have a unique wallet address to accept payment for this Contract. By default this is
              set
              to your receipt account wallet address.</p>

            <div class="form-group">
              <nb-checkbox name="use_primary_wallet" [(ngModel)]="contract.use_primary_wallet" #name="ngModel">Use My
                Primary Wallet</nb-checkbox>
            </div>

            <div class="form-group">
              <nb-checkbox name="fixed_currency" [(ngModel)]="contract.fixed_currency" #name="ngModel">Fixed Currency
              </nb-checkbox>
            </div>

            <div class="form-group">
              <label for="exampleInputPassword1">Token Rate</label>
              <input type="number" step="0.01" class="form-control" id="tokenRateInput" placeholder="Token Rate"
                name="token_rate" [(ngModel)]="contract.token_rate" #name="ngModel">
            </div>

            <label for="exampleInputPassword1">Currency</label>
            <nb-select placeholder="Selected Currency" [(selected)]="selectedCurrency" name="currency"
              [(ngModel)]="contract.currency" #name="ngModel">
              <nb-option value="usd">United States Dollar</nb-option>
              <nb-option value="gbp">British Pound</nb-option>
              <nb-option value="eur">Euro</nb-option>
            </nb-select>

            <div class="form-group">
              <label for="exampleInputPassword1" style="margin-top: 1em;">Currency Rate</label>
              <input type="number" step="0.01" class="form-control" id="currencyRateInput" placeholder="Currency Rate"
                name="currency_rate" [(ngModel)]="contract.currency_rate" #name="ngModel">
            </div>

          </nb-card-body>
        </nb-card>

        <nb-card>
          <nb-card-header>TEST - Server Details to Receive Data</nb-card-header>
          <nb-card-body>

            <p>When the Contract is accepted the Data Trading Platform will build a Data Transfer Gateway (DTG) to
              install
              on your server. The DTG will facilitate fast reliable data transfers, updates to your account records and
              where payment is dependent on file transfers provide Proof of Work to authorise payments.</p>
            <p>You will need access to a server with a unique www address with Docker installed. (If you don’t have
              these
              facilities there are many cloud based solutions that provide virtual servers with pre installed Docker
              such
              as digital Ocean). You will need to provide a directory for your DTG, the DTG of your Users where you will
              send your data files. The DTP will pick these up and forward. These server details will not be disclosed
              outside the DTP or to your Users. Please ensure we have access to install in the directory with your
              Directory Details. Please see technical help in our FAQs for information about configuring your systems.
            </p>

            <div class="form-group">
              <input id="test_directory" name="test_directory" class="form-control" required
                placeholder="Directory Path" type="text" [(ngModel)]="contract.test_directory"
                #test_directory="ngModel">
            </div>

            <div *ngIf="test_directory.invalid && (test_directory.dirty || test_directory.touched)"
              class="alert alert-danger">
              <div *ngIf="test_directory.errors.required">
                Directory Path is required.
              </div>
            </div>

            <div class="form-group">
              <input id="test_serverURL" name="test_serverURL" class="form-control" required placeholder="Server URL"
                type="text" [(ngModel)]="contract.test_serverURL" #test_serverURL="ngModel">
            </div>

            <div *ngIf="test_serverURL.invalid && (test_serverURL.dirty || test_serverURL.touched)"
              class="alert alert-danger">
              <div *ngIf="test_serverURL.errors.required">
                Server URL is required.
              </div>
            </div>

            <div class="form-group">
              <input id="test_username" name="test_username" class="form-control" required placeholder="Username"
                type="text" [(ngModel)]="contract.test_username" #test_username="ngModel">
            </div>

            <div *ngIf="test_username.invalid && (test_username.dirty || test_username.touched)"
              class="alert alert-danger">
              <div *ngIf="test_username.errors.required">
                Username is required.
              </div>
            </div>

            <div class="form-group">
              <input id="test_password" name="test_password" class="form-control" required placeholder="Password"
                type="password" [(ngModel)]="contract.test_password" #test_password="ngModel">
            </div>

            <div *ngIf="test_password.invalid && (test_password.dirty || test_password.touched)"
              class="alert alert-danger">
              <div *ngIf="test_password.errors.required">
                Password is required.
              </div>
            </div>

            <div class="form-group">
              <input id="test_passwordConfirm" name="test_passwordConfirm" class="form-control" required
                placeholder="Confirm Password" type="password" [(ngModel)]="contract.test_passwordConfirm"
                #test_passwordConfirm="ngModel">
            </div>

            <div *ngIf="test_passwordConfirm.invalid && (test_passwordConfirm.dirty || test_passwordConfirm.touched)"
              class="alert alert-danger">
              <div *ngIf="test_passwordConfirm.errors.required">
                Password Confirm is required.
              </div>
            </div>

          </nb-card-body>
        </nb-card>

      </form>
    </nb-card-body>

  </nb-card>

  <button style="float: right; background-color: #BC0547;" type="submit" class="btn" (click)="create()"
    [disabled]="newContractOfferForm.invalid">
    DONE
  </button>

  <div class="row">

    <div class="col-md-2" style="padding: 0px;" (click)="uploadDocument()">

      <nb-card>
        <nb-card-header style="background-color: #ffffff; color: #BC0547; min-height: 3.5em; max-height: 3.5em;">
          Upload Document
          <i class="nb-layout-right nb-arrow-thin-up"
            style="float: right; font-size: 1.5em; color: #BC0547; font-weight: bold;"></i>
        </nb-card-header>
      </nb-card>

    </div>

    <div class="col-md-2" style="padding: 0px;" *ngFor="let option of files">

      <nb-card>
        <nb-card-header style="background-color: #BC0547; color: #ffffff; min-height: 3.5em; max-height: 3.5em;">
          {{option['name']}}
          <i class="nb-layout-right nb-close"
            style="float: right; font-size: 1.5em; color: #ffffff; font-weight: bold;"></i>
        </nb-card-header>
      </nb-card>

    </div>
  </div>

  <input #fileUploadInput type="file" (change)="fileChange($event)" placeholder="Upload file" accept="*"
    style="display: none;">

</div>