<div class="my-container">
    <div style="margin-bottom: 2em; width:100%;
    display:table;">

        <span style="color: black; font-size: 5em; display:table-cell;
        vertical-align:middle;font-family: Oswald,Effra,Arial,Helvetica,sans-serif;">Data Transfer Gateway: Global
            Benchmark</span>

        <button type="button" class="btn btn-success btn-icon"
            style="float: right; background-color: #BC0547;width:150px;height:150px;z-index: 2;" (click)="sendData()">
            <i class="nb-layout-right nb-paper-plane" style="font-size: 6rem;"></i>
        </button>

    </div>

    <div
        style="margin-bottom: 2em; width:100%;
    display:table; text-align: left; font-size: large; color: black;font-family: Oswald,Effra,Arial,Helvetica,sans-serif;">

        <p style="font-size: 2em;">Data Last Sent: <span style="color: #BC0547;">{{ dataLastSent }}</span></p>

    </div>


    <div style="display: flex; justify-content: space-between;margin-bottom: 12em;">

        <div class="clockColumn">
            <p class="cityLabel">Los Angeles</p>
            <p style="font-size: 5em; color: black;">{{ losAngelesMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ losAngelesMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ losAngelesMessage?.creation_time_string }}</span></p>
        </div>

        <div class="clockColumn">
            <p class="cityLabel">New York</p>
            <p style="font-size: 5em; color: black;">{{ newYorkMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ newYorkMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ newYorkMessage?.creation_time_string }}</span></p>
        </div>

        <div class="clockColumn">
            <p class="cityLabel">London</p>
            <p style="font-size: 5em; color: black;">{{ londonMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ londonMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ londonMessage?.creation_time_string }}</span></p>
        </div>

    </div>

    <div style="display: flex; justify-content: space-between;">

        <div class="clockColumn">
            <p class="cityLabel">Kyiv</p>
            <p style="font-size: 3em; color: black;">{{ kyivMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ kyivMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ kyivMessage?.creation_time_string }}</span></p>
        </div>

        <div class="clockColumn">
            <p class="cityLabel">Tokyo</p>
            <p style="font-size: 3em; color: black;">{{ tokyoMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ tokyoMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ tokyoMessage?.creation_time_string }}</span></p>
        </div>

        <div class="clockColumn">
            <p class="cityLabel">Singapore</p>
            <p style="font-size: 3em; color: black;">{{ londonMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ londonMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ londonMessage?.creation_time_string }}</span></p>
        </div>

        <div class="clockColumn">
            <p class="cityLabel">Sau Paulo</p>
            <p style="font-size: 3em; color: black;">{{ londonMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ londonMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ londonMessage?.creation_time_string }}</span></p>
        </div>

        <div class="clockColumn">
            <p class="cityLabel">Moscow</p>
            <p style="font-size: 3em; color: black;">{{ londonMessage?.difference_time_string }}</p>
            <p class="dataReceivedLabel">Data Received: <span
                    style="color: #BC0547;">{{ londonMessage?.received_at_string }}</span></p>
            <p class="platformNotifiedLabel">DTP Notified: <span
                    style="color: #BC0547;">{{ londonMessage?.creation_time_string }}</span></p>
        </div>

    </div>
</div>