<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <nb-card style="text-align: center; background: transparent; border: none;"
        *ngIf="conversation?.replies?.length == 0">
        <nb-card-body>
            <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
            <p>We didn't find anything here...</p>
        </nb-card-body>
    </nb-card>

    <nb-chat title="{{ conversation?.username }}" status="success" size="large">
        <nb-chat-message *ngFor="let reply of conversation?.replies" [type]="text" [message]="reply.reply" [reply]="reply.user_id == user.id"
            [sender]="reply.username" [date]="reply.creation_time" [avatar]="reply.picture">
        </nb-chat-message>
        <nb-chat-form (send)="sendMessage($event)" [dropFiles]="false"></nb-chat-form>
    </nb-chat>
</div>