<div style="margin-bottom: 0.5em;">

    <button type="button" class="btn btn-outline-primary btn-icon" style="display: inline-block;"
        (click)="backClicked()">
        <i class="nb-layout-right nb-arrow-thin-left"></i>
    </button>

    <span style="margin-left: 1em; color: black; font-size: 1.5em; display: inline-block;">Replies</span>

    <button type="button" class="btn btn-success btn-icon" style="margin-left: 0.5em; float: right;"
        (click)="newMessageClicked()">
        <i class="nb-layout-right nb-compose"></i>
    </button>

</div>


<div [nbSpinner]="loading" nbSpinnerStatus="danger" nbSpinnerSize="xlarge">

    <nb-card *ngIf="loading">
        <nb-card-header></nb-card-header>
        <nb-card-body>
        </nb-card-body>
    </nb-card>

    <nb-card style="text-align: center; background: transparent; border: none;" *ngIf="conversation?.replies?.length == 0">
        <nb-card-body>
            <i class="nb-alert" style="font-size: 8em; color: #BC0547;"></i>
            <p>We didn't find anything here...</p>
        </nb-card-body>
    </nb-card>

    <nb-card *ngFor="let reply of conversation?.replies">
        <!-- <nb-card-header>{{ thread.title }}</nb-card-header> -->
    
        <nb-card-body>
            <nb-user [picture]="reply.picture" [name]="reply.username" title="4.8" style="margin-bottom: 2em;">
            </nb-user>
            <p>{{ reply.reply }}</p>
        </nb-card-body>
        <!-- <nb-card-footer>
            <span style="float: right;">{{ comment.creation_time | date:'medium' }}</span>
        </nb-card-footer> -->
    </nb-card>

</div>