<nb-card>
    <nb-card-header>
        Admin Home Page
    </nb-card-header>

    <nb-card-body>
        <p>
            <button nbButton status="success" (click)="onClickEditForumTopics()">Forum Topics</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditForumTopics()">User Reports</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditForumTopics()">Contract Reports</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditTerms()">Terms and Conditions</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditPrivacy()">Privacy Policy</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditForumTopics()">FAQ</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditForumTopics()">Tags</button>
        </p>
        <p>
            <button nbButton status="success" (click)="onClickEditForumTopics()">Categories</button>
        </p>
    </nb-card-body>
</nb-card>