<div style="margin-bottom: 0.5em; width:100%;
display:table;">

    <span style="color: black; font-size: 1.5em; display:table-cell;
    vertical-align:middle;">Get the Latest Version of the DTP Clients</span>

</div>

<div class="row">

    <div class="col-md-4" style="padding: 0px;">

        <nb-card>
            <nb-card-header style="text-align: center;">
                <p>
                    WINDOWS
                </p>
                <p>
                    <img src="../../../assets/images/windows-black.svg" alt="Windows" style="height: 2em; width: 2em;">
                </p>
            </nb-card-header>

            <nb-card-body style="text-align: center;">
                <p>Windows 7 Service Pack 1 or later</p>
                <p>1ghz processor - 512mb of RAM</p>
            </nb-card-body>

            <nb-alert status="success" style="text-align: center; margin-bottom: 0; background-color: #BC0547;">DOWNLOAD</nb-alert>

        </nb-card>

    </div>

    <div class="col-md-4" style="padding: 0px;">

        <nb-card>
            <nb-card-header style="text-align: center;">
                <p>
                    MAC
                </p>
                <p>
                    <img src="../../../assets/images/apple-black.svg" alt="Apple" style="height: 2em; width: 2em;">
                </p>
            </nb-card-header>

            <nb-card-body style="text-align: center;">
                <p>OSX 10.9 or later</p>
                <p>Intel Core 2 Duo</p>
            </nb-card-body>

            <nb-alert status="success" style="text-align: center; margin-bottom: 0; background-color: #BC0547;">DOWNLOAD</nb-alert>

        </nb-card>

    </div>

    <div class="col-md-4" style="padding: 0px;">

        <nb-card>
            <nb-card-header style="text-align: center;">
                <p>
                    LINUX
                </p>
                <p>
                    <img src="../../../assets/images/linux-black.svg" alt="Linux" style="height: 2em; width: 2em;">
                </p>
            </nb-card-header>

            <nb-card-body style="text-align: center;">
                <p>X</p>
                <p>Y</p>
            </nb-card-body>

            <nb-alert status="success" style="text-align: center; margin-bottom: 0; background-color: #BC0547;">DOWNLOAD</nb-alert>

        </nb-card>

    </div>
</div>