<nb-accordion multi>
  <nb-accordion-item>
    <nb-accordion-item-header>
      What is The Data Trading Platform?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      Its a thing.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      Who are Step39.com?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      We are x.
    </nb-accordion-item-body>
  </nb-accordion-item>

  <nb-accordion-item>
    <nb-accordion-item-header>
      What is the DTP token?
    </nb-accordion-item-header>
    <nb-accordion-item-body>
      The DTP token is X.
    </nb-accordion-item-body>
  </nb-accordion-item>
</nb-accordion>